extend layout

block title
  | 首页

block style
  +link('index')

block body
  .layout-wrapper.banner
    .banner-bg.banner-bg1
    .banner-bg.banner-bg2
    .banner-bg.banner-bg3
    .wrapper
      .banner-pic.sprites-banner
      .banner-title 清晰掌握你团队的云支出
      .banner-description 将 IT，财务和业务整合，应对不确定的云支出带来的财务挑战，为你节省
        span 30
        | %的公有云成本
      .banner-buttons
        a.btn(href="/trial.html") 立即试用

  .layout-wrapper.index-list.feature
    .wrapper
      .index-list-title.feature-title 应对组织面临的云挑战
      .feature-description CMPlite 持续分析和报告您环境中的每种云资源，使您能够识别和消除浪费在云上的每一分钱<br>了解如何通过 CMPlite 制订个性化的成本节省计划，节省30％或更多的公有云成本
      .index-list-content.feature-content
        .feature-img.sprites-feature
        ul
          li
            .feature-icon.sprites-feature1
            .index-list-content-title 资源界面统一概览
            .index-list-content-description 用户通过统一的门户来概览并管理多个账号下云主机资源，无需在不同的界面或控制台中反复的切换。
          li
            .feature-icon.sprites-feature2
            .index-list-content-title 快速跳转至原生控制台
            .index-list-content-description 通过CMPlite一键跳转至云厂商控制台，管理和操作云服务商提供的所有产品和服务，方便快捷。
          li
            .feature-icon.sprites-feature3
            .index-list-content-title 可视化财务中心
            .index-list-content-description 通过财务中心优化用户和MSP之间的财务流程，支持对已购资源在发票管理和开票层面的统一操作。
          li
            .feature-icon.sprites-feature4
            .index-list-content-title 高效的工单管理
            .index-list-content-description 工单是用户和MSP沟通的桥梁之一，通过工单系统用户可及时提出疑问，MSP快速做出响应，管理问题进度并提高用户体验。

  .layout-wrapper.index-list.method
    .wrapper
      .index-list-title.method-title 云成本管理的新方法
      .index-list-content.method-content
        ul
          li
            .method-icon.sprites-method1
            .index-list-content-title 云的新运营模式
            .index-list-content-description FinOps 将技术，业务和财务结合在一起，以掌握云时代的竞争优势
          li
            .method-icon.sprites-method2
            .index-list-content-title FinOps 服务可加快您的云之旅
            .index-list-content-description FinOps 最佳实践和专家知识，使您的增长需求与财务预测保持一致
        .sprites-method.margin-top_10

  .layout-wrapper.customer
    .wrapper
      .customer-title 领先的云用户信赖我们
      ul
        each value in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
          li(class=`sprites-customer${ value }`)
