extend layout

block title
  | 版本对比

block style
  +link('version')

block body
  .layout-wrapper.head-bg
  .layout-wrapper
    .wrapper.version
      .version-header 版本对比
      .version-content
        .version-content-item
          dl
            dt 功能特权
            dd 云账户数
            dd 成员数
            dd 成本中心
            dd 可管理的主机实例
            dd 资源管理
            dd 多账户管理
            dd 费用分析
            dd 托管折扣账户
            dd 财务管理
            dd API访问
            dd SSO单点登陆
            dd 多租户后台管理门户
            dd 折扣设置管理
            dd 结算网关设置
            dd 工单管理
            dd 交付方式
            dd 服务方式
            dd 服务时长
            dd 定制化
            dd 订阅时长
        .version-content-item
          dl
            dt 标准版
              a(href="#") 免费试用14天
            dd 2个
            dd 10个
            dd 5个
            dd 50个
            dd
              .feature-img.sprites-check-circle
            dd
              .feature-img.sprites-check-circle
            dd
              .feature-img.sprites-check-circle
            dd 可选
            dd 可选
            dd
            dd
            dd
            dd
            dd
            dd
              .feature-img.sprites-check-circle
            dd SaaS
            dd 工单、IM
            dd 5*9
            dd
            dd 1月/半年/1年/2年
        .version-content-item
          dl
            dt 企业版
              a(href="#") 联系我们
            dd 不限
            dd 不限
            dd 不限
            dd 不限
            dd
              .feature-img.sprites-check-circle
            dd
              .feature-img.sprites-check-circle
            dd
              .feature-img.sprites-check-circle
            dd
              .feature-img.sprites-check-circle
            dd
              .feature-img.sprites-check-circle
            dd
              .feature-img.sprites-check-circle
            dd
              .feature-img.sprites-check-circle
            dd
            dd
            dd
            dd
              .feature-img.sprites-check-circle
            dd SaaS/私有化
            dd 工单、IM、电话、现场
            dd 7*24
            dd 可选
            dd 1月/半年/1年/2年
        .version-content-item
          dl
            dt MSP
              a(href="#") 联系我们
            dd 不限
            dd 不限
            dd 不限
            dd 不限
            dd
              .feature-img.sprites-check-circle
            dd
              .feature-img.sprites-check-circle
            dd
              .feature-img.sprites-check-circle
            dd
              .feature-img.sprites-check-circle
            dd
              .feature-img.sprites-check-circle
            dd
              .feature-img.sprites-check-circle
            dd
              .feature-img.sprites-check-circle
            dd
              .feature-img.sprites-check-circle
            dd
              .feature-img.sprites-check-circle
            dd
              .feature-img.sprites-check-circle
            dd
              .feature-img.sprites-check-circle
            dd SaaS/私有化
            dd 工单、IM、电话、现场
            dd 7*24
            dd 可选
            dd 1月/半年/1年/2年
