$css-box-space = 0 5 10 15 20 24 25 30 34 50
$css-font-size = 12 14 16 18 20 24 32 48

@import 'basic-css'
@import 'stylus-nib'
@import '../sprite/sprites'

$width = 1250px
$min-width = $width + 80px

$primary-color = #f7931e
$link-hover-color = #d6801a
$text-color = #7a7f83
$title-color = #102039
$white = #fff
$black = #000
$black-20 = rgba($black, .2)
$blue = #2b86e8
$background-color = #f8fafb
$border-color = #dce1e3
$box-shadow = (0px 0px 8px 0px rgba(#d1d1d1, .5))

$font-size = 14px
$font-size-sm = 12px
$line-height = 20px

$border-radius = 4px
$border-radius-sm = 2px

html, body, h2, h3, h4, p, ul, li, dl, dt, dd
  margin 0
  padding 0
  list-style none

*, *:before
  box-sizing border-box
  transition all .3s

body
  font $font-size/1 "San Francisco", "Helvetica Neue", Helvetica, "Segoe UI", Tahoma, Arial, "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", SimSun, "WenQuanYi Micro Hei", sans-serif
  color $text-color
  -webkit-tap-highlight-color rgba($black, 0)
  -webkit-touch-callout none

a
  text-decoration none
  outline none

a.btn
  display inline-block
  height height = 60px
  line-height height
  text-align center
  color $primary-color
  border-radius $border-radius
  background $white

  &:hover
    color $white
    background rgba($white, .2)


img
  vertical-align top
  border 0

input, textarea
  padding 10px
  font-size $font-size
  color $text-color
  border none
  background #fff

textarea
  resize none

button
  padding 0
  border none
  cursor pointer

  &[disabled]
    cursor not-allowed
    background #ccc !important

:focus
  outline 0

.line-list
  font-size 0

  > li
    display inline-block
    vertical-align top

.flex
  display flex
  justify-content space-between

.sprites-icon-sm
  display inline-block
  margin-right 4px
  vertical-align -1px

.wrapper
  margin 0 auto
  width $width

.head-bg
  height 80px
  background $primary-color

.layout
  position relative

  &-head
    position absolute
    z-index 5
    width 100%
    padding 0 40px
    min-width $min-width
    height 80px

    .logo
      margin-top 18px
      width 160px
      @extend .select-none

    .nav
      float right
      padding-top 20px
      line-height 40px
      font-size $font-size
      color $white
      @extend .line-list

      li
        margin-left 30px

        a
          display inline-block
          color $white

          &:hover
            color rgba($white, .7)

          &.primary
            width 120px
            height 40px
            text-align center
            border-radius $border-radius
            background rgba($white, .2)

            &:hover
              color $primary-color
              background $white

  &-wrapper
    padding 0 40px
    min-width $min-width

  &-foot
    color #7a7f83
    background #e5ebee

    .wrapper
      @extend .flex
      align-items center
      height 60px

.data
  height height = 240px
  background url('../img/concact-bg.png') $primary-color
  background-size 100%
  background-repeat repeat-y
  background-attachment fixed

  &-wrapper
    @extend .flex
    align-items center
    height height

  .justify-content_center
    @extend .justify-content_center

  &-content
    font-size 24px
    color $white

  a
    width 280px

.footer
  position relative
  padding-top 60px
  height 260px

  &::before
    position absolute
    left 0
    top 90px
    z-index -1
    display block
    content ''
    width 100%
    height 1px
    background $border-color

  &-title
    display inline-block
    width 212px
    height height = 60px
    line-height height
    text-align center
    border 1px solid $border-color
    border-radius $border-radius
    background $white

  .certificate
    text-align center

    ul
      @extend .flex
      margin-top 32px
      width 280px

      li
        width 45px
        height 50px

  .partner
    text-align center

    ul
      @extend .flex
      margin-top 36px
      width 480px

      li
        width 120px
        height 40px

  .contact
    width 254px

    &-content
      padding 28px 0 0 24px
      line-height 30px

      .sprites-email
        margin-right 6px
        vertical-align -2px

.back-top
  position fixed
  right 20px
  bottom 60px
  z-index 1
  display none
  width 35px
  height 35px
  half-background('../img/back.png')
  cursor pointer

  &:hover
    half-background('../img/back-hover.png')
