@import 'common'

.banner
  position relative
  width 100%
  height 660px
  overflow hidden

  &-bg
    position absolute
    width 100%

    &1
      left -50%
      z-index -1
      width 100%
      height 660px
      background #ffa842

    &2
      left 50%
      z-index -1
      width 100%
      height 580px
      background #f8931f

    &3
      z-index -1
      width 100%
      height 660px
      half-background('../img/banner-bg.jpg', none, center)

  .wrapper
    position relative
    padding-top 200px
    height 660px
    color $white

  &-pic
    position absolute
    top 154px
    left 510px

  &-title
    line-height 60px
    font-size 36px

  &-description
    margin 30px 0 60px
    width 460px
    line-height 36px
    font-size 16px

    span
      font-size 24px

  &-buttons
    a
      width 180px

.index-list
  &-title
    font-size 32px
    line-height 60px
    text-align center
    color $title-color

  &-content
    li
      position relative

      .feature-icon, .method-icon
        display inline-block
        position absolute

    &-title
      padding-bottom 10px
      line-height 24px
      font-size 18px
      color $title-color

    &-description
      line-height 30px

.feature
  &-title
    padding 58px 0 21px

  &-description
    line-height 36px
    font-size 16px
    text-align center

  &-content
    margin 42px 0 94px

    li
      padding 30px 20px 20px 92px
      width 692px

      &:hover
        box-shadow: 0px 4px 20px 0px rgba(#707070, .1)

      .feature-icon
        left 25px
        top 18px

  &-img
    float right
    margin-top 56px

.method
  background $background-color
  overflow hidden

  &-title
    padding 95px 0 54px

  &-content
    ul
      float right
      padding-bottom 48px
      width 620px

      li
        margin-bottom 70px
        padding 38px 54px 38px 92px
        width 620px
        border-radius $border-radius
        background $white

        .method-icon
          left 24px
          top 48px

.customer
  &-title
    padding 60px 0 24px
    font-size 32px
    line-height 60px
    text-align center
    color $title-color

  ul
    @extend .flex
    flex-wrap wrap
    padding-bottom 30px

    li
      margin 30px 0
      width 225px
      height 110px
      border-radius $border-radius
      box-shadow 0px 0px 8px 0px rgba(#d1d1d1, .5);
      background-color $white
